// iPadish.
@media screen and (max-width: 768px)
	html
		font-size: 16px
	.layer
		margin-bottom: 1.5em
	.header-tagline
		font-size: 2.25em
	.workshop-summary
		margin-left: 1.5em
		width: 95%
	.register-callout-title
		font-size: 1.1em
	.primary-content,
	.instructor,
	footer
		font-size: .8181em
	.sidebar
		font-size: .7em
	.share-button
		float: none
		padding: .25em 0
		width: 50%

// This is the breakpoint where Bootstrap collapses all columns into full-width blocks.
@media screen and (max-width: 767px)
	html
		font-size: 16px
	.header-container
		padding: 1em 0
		text-align: center
	.header-logo
		margin: 0 auto

	// Remove awesome margins & widths.
	.workshop-summary
		margin: 0
		width: auto
	.share-buttons
		h3
			text-align: center
			margin: .5em 0
	.instructor
		padding: 2em 20px
	.primary-content
		padding: 0
	.instructor,
	footer
		margin: 0 -20px
	footer
		padding: 3em
		// text-align: left

/**Apply these styling changes to iPhones**/
@media screen and (max-width:499px)
	html
		font-size: 14px

	.header-logo
		height: 8em
	.header-tagline
		font-size: 2rem
	.header-details
		font-size: 1em

	.workshop-summary
		background-image: none
		font-size: 1rem
		// Remove the 20px padding Bootstrap adds so it's flush left/right
		margin: 0 -20px
		padding: 20px

	.register-button
		display: block

	.share-button
		width: 33%
		float: right