img
	max-width: 100%

body
	font-size: 125%
	background: #f0f0f0
	font-family: $serif
	line-height: $magic-number

a
	color: $blue
	text-decoration: none
	&:hover
		color: $dark-blue

.container-fluid
	margin: 0 auto

.layer
	margin-bottom: $magic-number * 3em

.header-container
	border-top: 1rem solid $yellow

.subtitle
	font-size: 1.75em
	font-weight: 700
	margin-bottom: .25em

.module
	margin-bottom: $magic-number * 1em
	padding-bottom: $magic-number * 1em

.sidebar
	padding: 10%
	background: #fff
	border: 1px solid #e0e0e0
	background: #fff url(http://archive.kylefox.ca/v2/theme/4be729d4dabe9d54b000000e/stylesheets/images/bg_light_stripes.png) repeat-x

.sidebar .module
	border-bottom: 1px solid #E6E6E6

.last.module
	margin-bottom: 0
	padding-bottom: 0
	border-bottom: none